@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@400;500;700&display=swap");

@import "tailwindcss";

@theme {
  --color-gray-50: oklch(0.984 0.003 247.858);
  --color-soft-gray: #f2f2f2;
  --color-text-primary: #111111;
  --color-text-muted: #555555;
  --color-gray-border: #434343;
  --color-cool-cyan: #3a86ff;
  --color-cool-cyan-transparent: #3a86ff80;

  --font-inter: "Inter", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-recursive: "Recursive", sans-serif;
}
